{% extends "layout.twig" %}

{% block title %}{{ 'contacts.title'|trans }}{% endblock %}
{% block content %}
			<div class="jumbotron">
				<div class="container text-center">
					<h1><i class="fa fa-list"></i> {{ 'contacts.header'|trans }}</h1>
					<p>{{ 'contacts.text'|trans }}</p>
				</div>
			</div>
			<hr>
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-md-6"></div>
					<div class="col-xs-12 col-md-6"></div>
				</div>
			</div>
{% endblock %}
